$background-color:#F6F6F6;
$secondaire-color:#FCA311;
$primaire-color:#9356DC;
$green-color:#99E2D0;
$green-font-color:#008766;
$grey-color:#353535;
$grey2-color:#EAEAEA;

$font-family1:'Roboto', sans-serif;
$font-family2:'Shrikhand', cursive;
