
@import"variable";
@import"mixin";
@import"function";
@import"effet";
@import"button";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap" rel="stylesheet");


body{ 
   margin: 0;
}
nav {
    @include flex;
    width: 100%;
    height: 60px;
    margin-bottom: 2px;
    box-shadow: 0 2px 0 0 lightgray;
    img{
        width: 162px;
        height: 44px;
    } 
    .fleche{
        width: 18px;
        height:16px ;
        position: absolute;
        top: 23px;left: 23px;
    }
}
.recherche{
    @include flex; 
    background-color:$grey2-color ;
    height: 50px;
    justify-content: center;
.recherche-input{
    @include button-recherche;
    background-color:$grey2-color ;
    border: none;
    text-align: center;
    font-size: 16px;
  width: 110px;
  padding: 10px;
}
}

h1,h2{
    @include text;
    font-weight: bold;
    font-size: 24px;
    
}
.font-gris{
   @include font-gris;
}

p{
    @include text;
    font-weight: lighter;
    font-size: 18px;
}
.button-gardient{
    @include button-gardient;
}
.button-gardient:hover{
 @include hover-button
 }
.fonction{
   @include flex;
   margin: 25px 0px 25px 00px;
   .chiffre{
   @include chiffre;
   }
   .bull{
    @include bull;
    background: $background-color;
   }
   .font-violet{
    background-color: rgba(245, 237, 255, 1);
   }
    p{
    @include text; 
    font-weight: 500;
    margin: 15px;
    }
}
.fonctionnement{
    padding: 30px 0 50px 0 ;
}
.left{
    text-align: left;
}
.restaurant{
    @include font-gris;
    @include card;
}
.card{
    width: 335px;
    height: 251px;
    margin: 10px 0 10px 0;
}
.my-heart{
    position: relative;
    left: 68px;
  font-size: 25px;
}
.my-active-heart{
    position: relative; 
  font-size: 25px;
  margin: 20px;
}
.my-active-heart{
    transition: all;
    transition-duration: 1s;
    opacity: 0;
}
  .my-active-heart:hover{
   opacity: 1;
   background-clip: text;
   -webkit-background-clip: text;
     color: transparent;
   background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

footer{
    color: white;
    background-color: black;
    padding: 25px;
    img{
    filter: invert(100);
    width:120px;
    height:25px ;
    margin:0 0 15px 0;
    }
    p ,a{
    font-family: roboto;    
    text-align: left;
    margin: 7px 7px 7px 0;
    font-size: 16px;
    font-weight: 500; 
    color: white;
    text-decoration: none;
    i{
    padding-right:10px ;
    }
    } 
}
 /******page menu*****/
 .image{
    object-fit: cover; 
    width: 100%;
   height:275px ;
   margin-bottom: -40px;
   position: relative;
   z-index: 1;
}
.font-menu{
    @include font-gris;
    align-items: center;
    border-radius:30px 30px 0 0;
    position: relative;
    z-index: 2;
    .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    h2{
        font-family: shrikhand;
        font-size: 28px;
        font-weight: 400;
        font-style: italic;
        margin: 0;
    }
    .palette {
        display: flex;
        flex-direction: row;
        align-items: center;
        .my-active-heart{
            left: 25px;
        }
     }
    p{
        text-align: left;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
    }
    .border-green{
        border-bottom: solid $green-color 3px;
        width: 40px;
        margin-bottom: 10px;
        padding:30px 0 10px 0;
    }
    .bull-plat{ 
        @include bull-plat;
    }

    .bull-plat:hover{
        @include menu-check-on;
    }
  
}

.flex{
    @include flex;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    background-color:$green-color;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1000
    ;
    opacity: 0;   
  animation: loader 3s;
  .progress { 
    position: absolute;
    &__bar {
     border: 10px solid $green-color;
     border-top: 10px solid $primaire-color;
     border-bottom: 10px solid #FF79DA;
     border-radius: 50%;
     width: 100px;
     height: 100px;
     margin: auto;
     z-index: 4;
     top: 0;left: 0;right: 0;bottom: 0;
    animation: progress-bar 1s linear infinite;
    }
    p{
        font-size: 24px;
        font-weight: 900; 
    }
}
}
.plat-1{
    @include cache-plat;
    animation: plat 3s;
}
.plat-2{
    @include cache-plat;
    animation: plat 6s;
}
.plat-3{
    @include cache-plat;
    animation: plat 9s;
}
/****** Media queries ***********/
/* Medium devices (desktop) */
@media (min-width: 769px) {
    h1{
        font-size: 40px;
    }
.row-desktop{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.card{
   margin-right: 20px;
}
footer{ 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    img{
        margin: 0;
    }
    p,a{
        margin-right: 20px;
    }
}
.plat-1,.plat-2, .plat-3{
    width: 634px;
}
.font-menu{
    width: 1055px;
    margin: auto;
}

}